node_modules
frontend/dist/main.js
backend/.gitignore
backend/.serverless
issues/**
clips/**
frontend/dist/about
frontend/dist/semantic.min.css.gz
frontend/dist/support
frontend/dist/index.html
frontend/dist/scripts/**
backend/socket-cloudfront/.serverless
backend/socket-backend/.serverless
backend/socket-backend/start.zip
